@import url(./about.css);
* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow-x: hidden;
}
.wrapper .main-container {
  background: url(../images/main-bg.png);
  background-size: cover;
  width: 100vw;
  height: 1200px;
}
.wrapper .main-container header {
  display: flex;
  justify-content: center;
}
.wrapper .main-container header .header__nav {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  gap: 160px;
  align-items: center;
}
.wrapper .main-container header .header__nav li {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.wrapper .main-container header .header__nav a {
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(to right, #FB1E7D, #4F00B2);
  padding: 15px;
  border-radius: 15px;
}
.wrapper .main-container main {
  margin: 0 auto;
}
.wrapper .main-container main .container__block {
  margin-top: 10vh;
}
.wrapper .main-container main .container__block .block-opacity {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  background: #D9D9D9;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 15px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block h1 {
  padding: 30px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 400;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block h1 span {
  color: #FB1E7D;
  font-size: 32px;
  font-weight: 600;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .html5 {
  background-color: rgba(217, 217, 217, 0.1);
  width: 243px;
  height: 311px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .html5 .course {
  font-size: 24px;
  color: #FB1E7D;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .html5 .name {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 300;
  text-transform: uppercase;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .css3 {
  background-color: rgba(217, 217, 217, 0.1);
  width: 243px;
  height: 311px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .css3 .course {
  font-size: 24px;
  color: #FB1E7D;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .css3 .name {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 300;
  text-transform: uppercase;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .js {
  background-color: rgba(217, 217, 217, 0.1);
  width: 243px;
  height: 311px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .js .course {
  font-size: 24px;
  color: #FB1E7D;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensives .js .name {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 300;
  text-transform: uppercase;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensive__btn {
  background: #FB1E7D;
  padding: 15px;
  border-radius: 5px;
}
.wrapper .main-container main .container__block .block-opacity .intensiv__block .intensive__btn a {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}
.wrapper .advantages-container {
  background: url(../images/adv-bg.png);
  background-size: cover;
  width: 100vw;
  height: 1200px;
}
.wrapper .advantages-container .adv__head {
  padding: 100px;
  display: flex;
  justify-content: center;
}
.wrapper .advantages-container .adv__head h1 {
  font-size: 48px;
  font-weight: 600;
}
.wrapper .advantages-container .adv__grid {
  display: grid;
  justify-content: center;
  grid-gap: 25px;
  grid-template-areas: "a a";
}
.wrapper .advantages-container .adv__grid .grid__item-1 {
  width: 650px;
  height: 333px;
  background: linear-gradient(to right, #FB1E7D, #4F00B2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.wrapper .advantages-container .adv__grid .grid__item-1 h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
}
.wrapper .advantages-container .adv__grid .grid__item-1 p {
  color: #FFFFFF;
  max-width: 70%;
  font-weight: 300;
  font-size: 20px;
}
.wrapper .advantages-container .adv__grid .grid__item-1 .icons-container {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.wrapper .advantages-container .adv__grid .grid__item-2 {
  width: 650px;
  height: 333px;
  background: linear-gradient(to right, #FB1E7D, #4F00B2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.wrapper .advantages-container .adv__grid .grid__item-2 h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
}
.wrapper .advantages-container .adv__grid .grid__item-2 p {
  color: #FFFFFF;
  max-width: 70%;
  font-weight: 300;
  font-size: 20px;
}
.wrapper .advantages-container .adv__grid .grid__item-2 .icons-container {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.wrapper .advantages-container .adv__grid .grid__item-3 {
  width: 650px;
  height: 333px;
  background: linear-gradient(to right, #FB1E7D, #4F00B2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.wrapper .advantages-container .adv__grid .grid__item-3 h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
}
.wrapper .advantages-container .adv__grid .grid__item-3 p {
  color: #FFFFFF;
  max-width: 70%;
  font-weight: 300;
  font-size: 20px;
}
.wrapper .advantages-container .adv__grid .grid__item-3 .icons-container {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.wrapper .advantages-container .adv__grid .grid__item-4 {
  width: 650px;
  height: 333px;
  background: linear-gradient(to right, #FB1E7D, #4F00B2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.wrapper .advantages-container .adv__grid .grid__item-4 h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
}
.wrapper .advantages-container .adv__grid .grid__item-4 p {
  color: #FFFFFF;
  max-width: 70%;
  font-weight: 300;
  font-size: 20px;
}
.wrapper .advantages-container .adv__grid .grid__item-4 .icons-container {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  background: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.wrapper .consultation-container {
  background: url(../images/cons-bg.png);
  background-size: cover;
  width: 100vw;
  height: 800px;
}
.wrapper .consultation-container .forma {
  display: flex;
  flex-direction: row;
  padding: 5px 25px;
  gap: 230px;
  width: 850px;
  height: 500px;
  margin: 0 auto;
  background: rgba(15, 5, 5, 0.1);
  background: linear-gradient(313deg, rgb(79, 0, 178) 28%, rgb(251, 30, 125) 82%);
  border-radius: 30px;
}
.wrapper .consultation-container .forma .text__side {
  font-size: 17px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 60px 0;
  padding-left: 10px;
  justify-content: center;
}
.wrapper .consultation-container .forma .text__side .first {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.wrapper .consultation-container .forma .text__side .first p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
}
.wrapper .consultation-container .forma .text__side .second {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
}
.wrapper .consultation-container .forma .text__side .second p {
  font-size: 20px;
  color: #FFFFFF;
}
.wrapper .consultation-container .forma .text__side .third {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
}
.wrapper .consultation-container .forma .text__side .third p {
  font-size: 20px;
  color: #FFFFFF;
}
.wrapper .consultation-container .forma .text__side .four {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
}
.wrapper .consultation-container .forma .text__side .four p {
  font-size: 20px;
  color: #FFFFFF;
}
.wrapper .consultation-container .forma .input__side {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.wrapper .consultation-container .forma .input__side .subject select {
  width: 100%;
  min-height: 70px;
  font-weight: 700;
  background: #FFFFFF;
  border: transparent;
  border-radius: 30px;
  color: #000000;
  font-size: 16px;
  padding: 0 20px;
  text-align: start;
}
.wrapper .consultation-container .forma .input__side .class select {
  width: 100%;
  height: 60px;
  font-size: 0.9em;
  font-weight: 700;
  background: #FFFFFF;
  border: transparent;
  border-radius: 30px;
  color: #000000;
  font-size: 16px;
  padding: 0 20px;
  text-align: start;
}
.wrapper .consultation-container .forma .input__side .inputs {
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.wrapper .consultation-container .forma .input__side .inputs input {
  width: 100%;
  height: 60px;
  font-size: 0.9em;
  background: #FFFFFF;
  border: transparent;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  padding: 0 20px;
  text-align: start;
}
.wrapper .consultation-container .forma .input__side button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 50px;
  background: #FB1E7D;
  border: transparent;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
}
.wrapper .consultation-container .forma .input__side button a {
  color: #FFFFFF;
  font-weight: 500;
}
.wrapper .footer {
  background: linear-gradient(to right, #012E71, #000836);
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  padding: 50px;
}
.wrapper .footer .links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper .footer .links h1 {
  font-size: 30px;
  color: #FFFFFF;
}
.wrapper .footer .links a {
  color: #FFFFFF;
}
.wrapper .footer .intensives {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper .footer .intensives h1 {
  font-size: 30px;
  color: #FFFFFF;
}
.wrapper .footer .intensives a {
  color: #FFFFFF;
}
.wrapper .footer .socials h1 {
  font-size: 30px;
  color: #FFFFFF;
}
.wrapper .footer .socials a {
  color: #FFFFFF;
}
.wrapper .footer .socials .social__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.wrapper .footer .socials .social__img .twitter {
  margin-left: 25px;
}/*# sourceMappingURL=main.css.map */