@import url(./about.css);

$primary-color:#FFFFFF;
$second-color:#000;
$third-color:#FB1E7D;
$linear-gradient:to right,#FB1E7D,  #4F00B2;



*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;



}

ul,ol,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}



.wrapper{
    overflow-x: hidden;
    .main-container{
        background: url(../images/main-bg.png) ;
        background-size: cover;
        width: 100vw;
        height: 1200px;
        
        header{
            display: flex;
            justify-content: center;
            .header__nav-main{
                margin-top: 90px;
                display: flex;
                flex-direction: row;
                gap: 90px;
                align-items: center;
                li{
                    font-size: 20px;
                    color: $primary-color;
                    text-transform: uppercase;
                    .nav__item{
                        font-size: 20px;
                        color: $primary-color;
                        text-transform: uppercase;
                        &::after{
                            display: block;
                            left: 0; 
                            width: 0;
                            height: 2px; 
                            background: linear-gradient(to right,#FB1E7D,  #4F00B2);
                            content: "";
                            transition: width 0.3s ease-out; 

                        }
                        &:hover{
                            color: $third-color;
                            transition: .3s ease;
                        }
                        &:hover:after{
                            width: 100%;
                            height: 2px;
                            left: 0;
                            transition: all .3s linear;
                        }
                    }
                }
                .header__btn{
                    font-size: 20px;
                    color: $primary-color;
                    text-transform: uppercase;
                }
                .header__btn{
                    color: $primary-color;
                    font-size: 20px;
                    text-transform: uppercase;
                    background: linear-gradient(to right,#FB1E7D,  #4F00B2);
                    padding: 15px;
                    border-radius: 15px;
                    &:hover{
                        transition: width 0.3s ease-out; 
                        background: linear-gradient(to right, #4F00B2,#FB1E7D);
                    }

                }
            }
        }
        main{
            margin: 0 auto;
            .container__block{
                margin-top: 10vh;    
                .block-opacity{
                    
                    margin: 0 auto;
                    width: 1000px;
                    height: 600px;
                    background:#D9D9D9;
                    background-color: rgb(217, 217, 217,0.1);
                    border-radius: 15px;
                    .intensiv__block{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 50px;
                        h1{
                            padding: 30px;
                            color: $primary-color;
                            font-size: 32px;
                            font-weight: 400;
                            span{
                                color: $third-color;
                                font-size: 32px;
                                font-weight: 600;
                            }
                        }
                        .intensives{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            gap: 100px;
                            .html5{
                                background-color: rgb(217, 217, 217,0.1);
                                width: 243px;
                                height: 311px;
                                border-radius: 10px;

                                padding: 20px;

                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                gap: 30px;
                                .course{
                                    font-size: 24px;
                                    color: $third-color;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }
                                .name{
                                    font-size: 24px;
                                    color: $primary-color;
                                    font-weight: 300;
                                    text-transform: uppercase;

                                }

                            }
                            .css3{
                                background-color: rgb(217, 217, 217,0.1);
                                width: 243px;
                                height: 311px;
                                border-radius: 10px;

                                padding: 20px;

                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                gap: 30px;
                                .course{
                                    font-size: 24px;
                                    color: $third-color;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }
                                .name{
                                    font-size: 24px;
                                    color: $primary-color;
                                    font-weight: 300;
                                    text-transform: uppercase;

                                }

                            }
                            .js{
                                background-color: rgb(217, 217, 217,0.1);
                                width: 243px;
                                height: 311px;
                                border-radius: 10px;

                                padding: 20px;

                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                gap: 30px;
                                .course{
                                    font-size: 24px;
                                    color: $third-color;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }
                                .name{
                                    font-size: 24px;
                                    color: $primary-color;
                                    font-weight: 300;
                                    text-transform: uppercase;

                                }

                            }
                        }
                        .intensive__btn{
                            background: $third-color;
                            padding: 15px;
                            border-radius: 5px;
                            a{
                                color: $primary-color;
                                font-size: 20px;
                                font-weight: 400;
                            }
                            &:hover{
                                background-color: #4F00B2;
                                transition: 0.4s ease;
                            }
                        }
                    }

                }
            }
        }
    }
    .advantages-container{
        background: url(../images/adv-bg.png);
        background-size: cover;
        width: 100vw;
        height: 1200px;
        .adv__head{
            padding: 100px;
            display: flex;
            justify-content: center;
            h1{
                font-size: 48px;
                font-weight: 600;
            }
        }
        .adv__grid{
            display: grid;
            justify-content: center;
            grid-gap: 25px;
            grid-template-areas: "a a";
            .grid__item-1{
                width: 650px;
                height: 333px;
                background:linear-gradient(to right,#FB1E7D,  #4F00B2);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                h1{
                    padding: 30px;
                    font-size: 30px;
                    font-weight: 600;
                    color: $primary-color;
                }
                p{
                    color: $primary-color;
                    max-width: 70%;
                    font-weight: 300;
                    font-size: 20px;
                    

                }
                .icons-container{
                    margin-top: 5px;
                    width: 100%;
                    height: 50px;
                    background: #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                    justify-content: center;
                }
            }
            .grid__item-2{
                width: 650px;
                height: 333px;
                background:linear-gradient(to right,#FB1E7D,  #4F00B2);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                h1{
                    padding: 30px;
                    font-size: 30px;
                    font-weight: 600;
                    color: $primary-color;
                }
                p{
                    color: $primary-color;
                    max-width: 70%;
                    font-weight: 300;
                    font-size: 20px;
                    

                }
                .icons-container{
                    margin-top: 5px;
                    width: 100%;
                    height: 50px;
                    background: #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                    justify-content: center;
                }
            }
            .grid__item-3{
                width: 650px;
                height: 333px;
                background:linear-gradient(to right,#FB1E7D,  #4F00B2);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                h1{
                    padding: 30px;
                    font-size: 30px;
                    font-weight: 600;
                    color: $primary-color;
                }
                p{
                    color: $primary-color;
                    max-width: 70%;
                    font-weight: 300;
                    font-size: 20px;
                    

                }
                .icons-container{
                    margin-top: 5px;
                    width: 100%;
                    height: 50px;
                    background: #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                    justify-content: center;
                }
            }
            .grid__item-4{
                width: 650px;
                height: 333px;
                background:linear-gradient(to right,#FB1E7D,  #4F00B2);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                h1{
                    padding: 30px;
                    font-size: 30px;
                    font-weight: 600;
                    color: $primary-color;
                }
                p{
                    color: $primary-color;
                    max-width: 70%;
                    font-weight: 300;
                    font-size: 20px;
                    

                }
                .icons-container{
                    margin-top: 5px;
                    width: 100%;
                    height: 50px;
                    background: #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                    justify-content: center;
                }
            }
        }
    }
    .consultation-container{
        background: url(../images/cons-bg.png);
        background-size: cover;
        width: 100vw;
        height: 800px;
        .forma{
            display: flex;
            flex-direction: row;
            padding: 5px 25px;
            gap: 230px;
           
            width: 850px;
            height: 500px;
            margin: 0 auto;
           
           
            background: rgba(15, 5, 5, 0.1);
            background: linear-gradient(313deg, rgba(79,0,178,1) 28%, rgba(251,30,125,1) 82%);
            border-radius: 30px;
            .text__side{
               font-size: 17px;
               width: 600px;
               display: flex;
               flex-direction: column;
               gap: 50px;
               padding: 60px 0;
               padding-left: 10px;
               justify-content: center;
               
               .first{
                   display: flex;
                   flex-direction: row;
                   font-size: 12px;
                   p{
                       font-size: 20px;
                       color: $primary-color;
                       font-weight: 400;
                   }
               }
               .second{
                   display: flex;
                   flex-direction: row;
                   gap: 5px;
                   font-size: 12px;
                   p{
                       font-size: 20px;
                       color: $primary-color;
                   }
               }
               .third{
                   display: flex;
                   flex-direction: row;
                   gap: 5px;
                   font-size: 12px;
                   p{
                       font-size: 20px;
                       color: $primary-color;
                   }
               }
               .four{
                   display: flex;
                   flex-direction: row;
                   gap: 5px;
                   font-size: 12px;
                   p{
                       font-size: 20px;
                       color: $primary-color;
                   }
               }
            } 
            .input__side{
               width: 600px;
               display: flex;
               flex-direction: column;
               gap: 20px;
               justify-content: center;
               .subject{
                   select{
                       width: 100%;
                       min-height: 70px;
                       font-weight: 700;

                       background: #FFFFFF;
                       border: transparent;
                       border-radius: 30px;
                       color: #000000;
                       font-size: 16px;

                       padding: 0 20px;
                       text-align: start;
                       
                   }
               }
               .class{
                   select{
                       width: 100%;
                       height: 60px;
                       font-size: 0.9em;
                       font-weight: 700;

                       background: #FFFFFF;
                       border: transparent;
                       border-radius: 30px;
                       color: #000000;
                       font-size: 16px;

                       padding: 0 20px;
                       text-align: start;
                       

                   }
               }
               .inputs{
                   flex-direction: column;
                   display: flex;
                   gap: 20px;
                   input{
                       width: 100%;
                       height: 60px;
                       font-size: 0.9em;

                       background: #FFFFFF;
                       border: transparent;
                       border-radius: 30px;
                       color: #000;
                       font-weight: 600;
                       font-size: 16px;

                       padding: 0 20px;
                       text-align: start;

                       

                   }
               }
               button{
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   padding: 0px;

                   width: 100%;
                   height: 50px;

                   background: $third-color;
                   border: transparent;
                   border-radius: 30px;
                   color: #fff;
                   font-size: 16px;
                   a{
                       color: #FFFFFF;
                       font-weight: 500;
                       &:hover{
                        transition: all 0.4s ease;
                        color: $second-color;
                       }
                   }
                   &:hover{
                    transition: all 0.4s ease ;
                    background: $primary-color;
                   }
               }
            }
        }
    }
    .footer{
        background: linear-gradient(to right , #012E71, #000836);
        height: 300px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 200px;
        padding: 50px;
        .links{
            h1{
                font-size: 30px;
                color: $primary-color;
            }
            display: flex;
            flex-direction: column;
            gap: 30px;
            a{
                color: $primary-color;
                &:hover{
                    color:#FB1E7D;
                    transition: all 0.4s ease-out; 

                }
            }
        }
        .intensives{
            h1{
                font-size: 30px;
                color: $primary-color;
            }
            display: flex;
            flex-direction: column;
            gap: 30px;
            a{
                color: $primary-color;
                &:hover{
                    color:#FB1E7D;
                    transition: all 0.4s ease-out; 

                }
            }
        }
        .socials{
            h1{
                font-size: 30px;
                color: $primary-color;
            }
            a{
                color: $primary-color;
            }
            .social__img{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                .twitter{
                    margin-left: 25px;
                }
                img{
                    &:hover{
                        transition: 0.4s ease;
                        scale: 1.1;
                    }
                }
            }
        }
    }
}