$primary-color:#FFFFFF;
$second-color:#000;
$third-color:#FB1E7D;
$linear-gradient:to right,#FB1E7D,  #4F00B2;



*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;



}

ul,ol,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.wrapper{
    overflow-x: hidden;
    .personal__container{
        max-width: 1690px;
        margin: 0 auto;
        header{
            display: flex;
            justify-content: center;
            .header__nav{
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                gap: 120px;
                align-items: center;
                li{
                    font-size: 20px;
                    color: $second-color;
                    text-transform: uppercase;
                    .nav__item{
                        font-size: 20px;
                        color: $second-color;
                        text-transform: uppercase;
                        &::after{
                            display: block;
                            left: 0; 
                            width: 0;
                            height: 2px; 
                            background: linear-gradient(to right,#FB1E7D,  #4F00B2);
                            content: "";
                            transition: width 0.3s ease-out; 

                        }
                        &:hover{
                            color: #012E71;
                            transition: .3s ease;
                        }
                        &:hover:after{
                            width: 100%;
                            height: 2px;
                            left: 0;
                            transition: all .3s linear;
                        }
                    }
                }
                .header__btn{
                    font-size: 20px;
                    color: $second-color;
                    text-transform: uppercase;

                }
                .header__btn{
                    color: $primary-color;
                    font-size: 20px;
                    text-transform: uppercase;
                    background: linear-gradient(to right,#FB1E7D,  #4F00B2);
                    padding: 15px;
                    border-radius: 15px;

                }
            }
        }
        main{
            margin-top: 10vh;
            .grid__personal{
                gap: 10px;
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr; 
                grid-template-areas: 
                  ". personal messages"
                  ". information-block information-block"
                  ". . ."; 

                .personal{
                    grid-area: personal;
                    padding: 25px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 70px;
                    width: 836px;
                    height: 214px;
                    border: 1px solid $second-color;
                    border-radius: 10px;
                    .information{
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        .name{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 30px;
                            h1{
                                font-size: 30px;
                                font-weight: 400;
                            }
                        }
                        .action{
                            font-size: 18px;
                            font-weight: 400;
                        }
                        .links{
                            a{
                                color: #1400FF;
                            }
                        }
                    }
                }
                .messages{
                    grid-area: messages;
                    display: flex;
                    flex-direction: column;
                    width: 836px;
                    height: 214px;
                    border: 1px solid $second-color;
                    border-radius: 10px;
                    padding: 40px;
                    gap: 25px;
                    h1{
                        color: $second-color;
                        font-size: 24px;
                        font-weight: 300;
                    }
                    .block__messages{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 35px;
                    }
                }
                .information-block{
                    margin-bottom: -100px;
                    
                    grid-area: information-block; 
                    width: 1682px;
                    height: 300px;
                    border: 1px solid $second-color;
                    border-radius: 10px;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    .info__head{
                        display: flex;
                        flex-direction: row;
                        gap: 850px;
                        align-items: center;
                        h1{
                            font-size: 32px;
                            font-weight: 400;
                        }
                        a{
                            color: #1400FF;
                        }
                    }
                    .main__block{
                        display: flex;
                        flex-direction: row;
                        gap: 300px;
                        .mail{
                            display: flex;
                            flex-direction: column;
                            gap: 50px;
                            h2{
                                font-size: 22px;
                            }
                            p{
                                font-size: 18px;
                                color: #000AFF;
                            }
                        }
                        .country{
                            display: flex;
                            flex-direction: column;
                            gap: 50px;
                            h2{
                                font-size: 22px;
                            }
                            p{
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                        .city{
                            display: flex;
                            flex-direction: column;
                            gap: 50px;
                            h2{
                                font-size: 22px;
                            }
                            p{
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .personal__intensives-container{
            display: flex;
            flex-direction: column;
            gap: 100px;
            h1{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0 auto;
                font-size: 48px;
                font-weight: 400;
            }
            .personal__intensives-block{
                p{
                    font-size: 36px;
                    font-weight: 400;
                }
                .personal-container__intensives{
                    margin-top: 15vh;
                    .container__items-low{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 150px;
                        margin: 0 auto;
                        .h1-head{
                            font-size: 30px;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                        h2{
                            font-size: 28px;
                        }
                        .items{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: 100px;
                            .low-lvl{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 500px;
                                height: 230px;
                                gap: 30px;
                                .name_intense{
                                    font-size: 24px;
                                    font-weight: 600;
                                    max-width: 100%;
                                    text-align: center;
                
                                }
                                .prepod{
                                    justify-content: flex-end;
                                    font-size: 18px;
                                    font-weight: 400;
                                    text-align: center;
                                    max-width: 77%;
                                    a{
                                        color: #000AFF;
                                    }
                
                                }
                            }
                            .med-lvl{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 500px;
                                height: 230px;
                                gap: 30px;
                                .name_intense{
                                    font-size: 24px;
                                    font-weight: 600;
                                    max-width: 100%;
                                    text-align: center;
                
                                }
                                .prepod{
                                    font-size: 18px;
                                    font-weight: 400;
                                    max-width: 70%;
                                    text-align: center;
                                    a{
                                        color: #000AFF;
                                    }
                
                                }
                            }
                            .high-lvl{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 500px;
                                height: 210px;
                                gap: 30px;
                                
                                .name_intense{
                                    font-size: 24px;
                                    font-weight: 600;
                                    max-width: 100%;
                                    text-align: center;
                
                                }
                                .prepod{
                                    font-size: 18px;
                                    font-weight: 400;
                                    max-width: 70%;
                                    text-align: center;
                                    a{
                                        color: #000AFF;
                                    }
                
                                }
                            }
                        }
                    }        
                }
            }
        }
    }
    .footer{
        background: linear-gradient(to right , #012E71, #000836);
        height: 300px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 200px;
        padding: 50px;
        margin-top: 20vh;
        .links{
            h1{
                font-size: 30px;
                color: $primary-color;
            }
            display: flex;
            flex-direction: column;
            gap: 30px;
            a{
                color: $primary-color;
                    &:hover{
                    color:#FB1E7D;
                    transition: all 0.4s ease-out; 

                }
            }
        }
        .intensives{
            h1{
                font-size: 30px;
                color: $primary-color;
            }
            display: flex;
            flex-direction: column;
            gap: 30px;
            a{
                color: $primary-color;
                &:hover{
                    color:#FB1E7D;
                    transition: all 0.4s ease-out; 

                }
            }
        }
        .socials{
            h1{
                font-size: 30px;
                color: $primary-color;
            }
            a{
                color: $primary-color;
                
            }
            .social__img{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                .twitter{
                    margin-left: 25px;
                }
                img{
                    &:hover{
                        transition: 0.4s ease;
                        scale: 1.1;
                    }
                }
            }
        }
    }
}

//test